<app-navbar></app-navbar>
<br>

<div class="container-fluid">
  <form class="form-inline">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1"  [ngModelOptions]="{standalone: true}" [(ngModel)]="newTag" placeholder="Filter pop up shops by tags">
    </div>
    <br>

    <button type="submit" class="btn btn-primary" (click)="searchByTag()">Search By Tag</button>
  </form>




</div>
<br>

<div class="list-group">


  <div class="list-group-item list-group-item-action" *ngFor="let event of events | async">
    <h5 class="mb-1">{{event.shop_name}} @ <a [href]="'https://www.google.com/maps/search/?api=1' + '&query=' + event.location"> {{event.location}} </a>
<span *ngIf="event.start_time.toDate().getFullYear() === rightNow.getFullYear() && event.start_time.toDate().getMonth() === rightNow.getMonth() && event.start_time.toDate().getDate() === rightNow.getDate() && event.start_time.toDate() > rightNow " class="badge badge-info">Today</span>
      <span *ngIf="event.start_time.toDate() < rightNow && event.end_time.toDate().getHours() > rightNow.getHours() + 1 " class="badge badge-success">Ongoing</span>
      <span *ngIf="event.start_time.toDate().getFullYear() === rightNow.getFullYear() && event.start_time.toDate().getMonth() === rightNow.getMonth() && event.start_time.toDate().getDate() === rightNow.getDate() && event.end_time.toDate().getHours() <= rightNow.getHours() + 1 && event.end_time.toDate() > rightNow" class="badge badge-danger">Ending Soon</span> </h5>
    <small class="text-muted">From {{event.start_time.toDate()}}  to {{event.end_time.toDate()}}</small>
    <p class="text-muted">{{event.inside_or_outside}}</p>

  <p class="mb-1">Notes: {{event.notes}}</p>
    <p class="mb-1">Twitter: </p><a [href]="'https://twitter.com/' + event.twitter">{{event.twitter}}</a>
    <p class="mb-1">Instagram:</p><a [href]="'https://instagram.com/' + event.instagram">{{event.instagram}}</a>

    <button (click)="goToProfile(event.shop_id)" class="btn btn-info">Shop Profile</button>


  </div>
</div>

